{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            {{ form_start(productForm) }}
            {{ form_widget(productForm) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Add Product</button>
            {{ form_end(productForm) }}
        </div>
    </div>
{% endblock %}