.backgroundImage {
    background-image: url(../images/grey-background-07.jpg);
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

#rcorners {
    border-radius: 25px;
}

#center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}